@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#app {
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  /* font-family: "Quicksand"; */
}

html, body{
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h3 {
  color: #4e64be;
  font-weight: normal;
  font-size: 1.5rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: bold;
}